h1, h2 {
    font-family: 'Abel', sans-serif;
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    font-size: 18px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

pre {
    padding: 3px;
    font-size: 14px;
}